/** Globales **/

.contenedor {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    /* margin: 0 auto;*/
}


/*header*/

.site-header.inicio {
    background-image: url(../img/header.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    /*vh:tamaño de la pagina*/
    min-height: 600px;
}